@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url("https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Fjalla+One&display=swap');

/* @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap'); */

#root {
  height: 100vh;
}

.main {
  height: 100vh;
}

.header .text {
  margin: auto;
  padding-top: 207px;
  position: relative;
  max-width: 900px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  // letter-spacing: 0.4px;
  // font-weight: 100;
  // font-size: 1.5em;
  padding-bottom: 10px;
  text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.8), -3px 0px 7px rgba(0, 0, 0, 0.8),
    0px 4px 7px rgba(0, 0, 0, 0.8);
}
.header .btns {
  /* color:pink; */
  position: relative;
  display: inline-block;
  margin-left: 50px;
}

.fa {
  position: absolute;
  bottom: 20px;
  right: 70px;
  color: #fff;
  width: 100px;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
}
.gradient-button-3 {
  background-image: linear-gradient(
    to right,
    #3e84ee 0%,
    #348ac7 51%,
    #c4edfa 100%
  );
}
.gradient-button-3:hover {
  background-position: right center;
}
.glass-button {
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  padding-top: 220px;
}

.gradient-button {
  margin: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
}
.gradient-button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 8px 10px 12px;
}
.gradient-button-1 {
  background-image: linear-gradient(
    to right,
    #dd5e89 0%,
    #f7bb97 51%,
    #dd5e89 100%
  );
}
.gradient-button-1:hover {
  background-position: right center;
}
.header {
  // backdrop-filter: blur(2px);
  color: #d6eff3;
  position: relative;
  width: 100%;
  height: 100vh;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
  //   url("google-earth.jpg");
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

button {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  display: inline-flex;
  box-shadow: none !important;
}
.btn {
  font-size: 0.8em;
}
.btn-icon i {
  font-size: 2em;
  color: #f1f7f8;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #f5b313;
  border-color: #f5b313;
}
.show > .btn-primary.dropdown-toggle {
  background-color: #d6eff3;
  border-color: #d3e6ee;
}
a {
  color: #f5f5f5;
}
a:hover {
  text-decoration: none;
  color: #dae1e2;
}

.fa-sign-in {
  padding: 10px;
  margin-right: 10px;
}
.theme-icon {
  position: absolute;
  top: 13px;
  right: 40%;
  color: #ffffff;
  z-index: 667;
  display: none;
}
.main-wrapper.theme-dark .navbar {
  background: rgb(34, 15, 15);
}
.text {
  padding-bottom: 5px;
  margin-top: 0px;
}

.text {
  // display: flex;
  padding-top: 150px;
  /* align-items: center; */
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 100;
  font-size: 1.5em;
  padding-bottom: 10px;
}

button {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  display: inline-flex;
  box-shadow: none !important;
}
.btn {
  font-size: 0.8em;
}
.btn-icon i {
  font-size: 2em;
  color: #f1f7f8;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #f5b313;
  border-color: #f5b313;
}
.show > .btn-primary.dropdown-toggle {
  background-color: #d6eff3;
  border-color: #d3e6ee;
}
a {
  color: #f5f5f5;
}
a:hover {
  text-decoration: none;
  color: #dae1e2;
}

.fa-sign-in {
  padding: 10px;
  margin-right: 10px;
}
.theme-icon {
  position: absolute;
  top: 13px;
  right: 40%;
  color: #ffffff;
  z-index: 667;
  display: none;
}
.main-wrapper.theme-dark .navbar {
  background: rgb(34, 15, 15);
}
.text {
  padding-bottom: 5px;
  margin-top: 0px;
}

.SideBar {
  height: 100%;
  width: 250px;
}

html,
body {
  margin: 0px;
  height: 100%;
}

.map-container {
  position: absolute;
  top: 0;
  height: 100%;
  bottom: 0;
  width: 100%;
}

.map {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  border-color: black;
}

.navbar {
  /* background: rgb(19, 181, 245);
    background: linear-gradient(90deg, rgb(19, 192, 245) 0%, rgb(189, 251, 243) 53%, rgba(245,246,247,1) 100%); */
  position: fixed;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  height: 45px;
  display: flex;
  // align-items: center;
  color: #fff;
  justify-content: flex-end;
  z-index: 666;
  will-change: width, left;
  transition: width 0.5s, left 0.5s ease;
}
.navbar.active ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 190px;
  top: 40px;
  left: 0px;
  /* bottom: 0; */
  height: 600px;
  background: #ebe2dd;
  border-right: 1px solid #333;
}
.navbar .hamburger-btn {
  display: none;
}

.navbar-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.navbar-right .organization-dropdown {
  padding: 2px 0 2px 10px;
  border-left: 1px solid #cccccc;
}

.navbar-right .dropdown .btn-primary:after {
  content: none;
}
.navbar-right .dropdown .dropdown-menu {
  font-size: 0.8em;
  border: none;
  border-radius: 0;
  box-shadow: 0px 2px 10px rgb(1 1 1 / 15%);
  box-shadow: 0px 2px 10px rgb(1 1 1 / 15%);
}

.navbar-right .organization-dropdown .btn-primary {
  padding: 5px;
  background-color: #2c2c2c;
  border-radius: 0;
}
.navbar-right .organization-dropdown .btn-primary:active,
.navbar-right
  .organization-dropdown
  .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #2c2c2c;
  border-color: #f5b313;
}
.navbar-right .organization-dropdown .btn-primary img {
  height: 12px;
  width: 12px;
  display: block;
}
.navbar-right .organization-dropdown .dropdown-menu {
  padding-bottom: 0;
}
.navbar-right .organization-dropdown .dropdown-menu a:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 5px;
}
.navbar-right .organization-dropdown .dropdown-menu a img {
  padding: 5px;
  background: #2c2c2c;
  margin-right: 5px;
}

.navbar-right .user-dropdown {
  margin-right: 10px;
}
.navbar-right .user-dropdown .btn-primary {
  padding: 3px 6px;
  line-height: 1;
}
.navbar-right .user-dropdown .btn-primary i {
  font-size: 13px;
}

.toggle {
  position: fixed;
  margin-top: 500px;
  margin-left: 70px;
}

#menu {
  position: absolute;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 35%;
  padding: 10px;
  margin-left: 65%;
  font-family: "Open Sans", sans-serif;
}

.sidebar-wrapper {
  position: fixed;
  width: 364px;
  // width: 25px;
  height: 100vh;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ccdbe1,
    #77adc4e8,
    #3b7894f0,
    #257592ad,
    #2366849c,
    #014f6f4f,
    #0f202700
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  will-change: width;
  transition: width 0.5s ease;
  overflow: hidden;
  // border-right: 1px solid #ddddddf1;
  // box-shadow: 0 0 50px rgba(193, 20, 20, 0.799);;
}

.sidebar-wrapper .sidebar-content {
  width: 240px;
  padding: 15px 30px;
}

.sidebar-wrapper .sidebar-logo {
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin-bottom: 25px;
}
.sidebar-wrapper .sidebar-logo:hover {
  color: inherit;
}
.sidebar-wrapper .sidebar-logo i {
  color: #f8f6f6;
  margin-right: 5px;
}

.sidebar-toggle-btn {
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  align-items: end;
}
.sidebar-toggle-btn .far {
  font-size: 23px;
  background: #ffffff;
  border-radius: 50%;
}

.sidebar-wrapper ul {
  list-style: none outside;
  padding-left: 0;
}
.sidebar-wrapper ul li {
  margin-bottom: 20px;
  display: flex;
  color: #d3e6ee;
}
.sidebar-wrapper ul li a {
  display: block;
  align-items: center;
  line-height: 25px;
}
.sidebar-wrapper ul li.active a {
  color: #a5a5a4;
}
.sidebar-wrapper ul li a i {
  margin-right: 5px;
  width: 30px;
  text-align: center;
}

.content-wrapper {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 30px;
  padding-left: 240px;
  overflow: hidden;
  min-height: 100vh;
  will-change: padding-left;
  transition: padding-left 0.5s ease;
}
.content-wrapper > .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (max-width: 767px) {
  .sidebar-full .main-wrapper {
    overflow: hidden;
  }
  .navbar {
    width: 100%;
    left: 0;
  }
  .navbar .hamburger-btn {
    display: block;
  }
  .sidebar-toggle-btn {
    display: none;
  }
  .content-wrapper {
    padding-left: 0;
  }
  .sidebar-wrapper {
    top: 45px;
  }
  .sidebar-wrapper + .content-wrapper {
    -webkit-transform: translateZ(0) translateX(240px);
    transform: translateZ(0) translateX(240px);
  }
  .sidebar-wrapper.d-none + .content-wrapper {
    -webkit-transform: none;
    transform: none;
  }
}
@media only screen and (min-width: 768px) {
  .sidebar-collapse .navbar {
    width: calc(100% - 90px);
    left: 90px;
  }
  .sidebar-collapse .sidebar-wrapper,
  .sidebar-collapse .sidebar-wrapper .sidebar-content {
    width: 90px;
  }
  .sidebar-collapse .sidebar-wrapper .sidebar-logo span,
  .sidebar-collapse .sidebar-wrapper ul li a span {
    display: none;
  }
  .sidebar-collapse .content-wrapper {
    padding-left: 90px;
  }
}

.comment-list {
  list-style: none outside;
  padding-left: 0;
}
.comment-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  font-size: 0.85em;
}
.comment-list li p {
  margin-bottom: 0;
}
.comment-list li span {
  min-width: 150px;
  text-align: right;
  font-size: 0.85em;
}
.comment-list li span span {
  display: block;
  font-size: 0.8em;
}

$bright-color: #fff;
@mixin bottom {
  position: absolute;
  right: 0;
  left: 0;
}

.wrapper__popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgb(0 0 0 / 15%);
  backdrop-filter: blur(2px);
  transition: all 1s ease-out;
}

.container__popup {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 750px;
  height: 320px;
  border-radius: 30px;
  position: relative;
  box-shadow: 0 0 50px 5px rgb(26 144 204);
  .popup__image {
    width: 200px;
    height: 200px;
    margin-left: 13px;
    margin-top: 13px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
}

.popup__features i {
  // font-size: large;
  text-shadow: 2px 4px 15px #041854;
  cursor: pointer;
}

.container__popup__profile {
  background-color: #05aefbb5;
  display: flex;
  align-items: center;
  height: 55px;
  padding: 20px;
  border-radius: 30px;
  @include bottom();
  bottom: 0;
  h2 {
    color: #334454;
    font-size: 1.2rem;
  }
  p {
    color: #a1b2bc;
    font-size: 0.8rem;
  }
  p b {
    font-style: italic;
  }
}

#close {
  top: -79px;
  right: -511px;
  overflow: hidden;
  position: relative;
  border: none;
  padding: 0;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background: transparent;
  color: #000508;
  font: inherit;
  text-indent: 100%;
  font-size: larger;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 80%);
  cursor: pointer;
}

.filter-group {
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: absolute;
  margin: 0 auto;
  display: block;
  height: 100vh;
  z-index: 1;
  border-radius: 3px;
  width: 237px;
  padding-bottom: 175px;
  overflow-y: scroll;
  scrollbar-width: none;
  color: #fff;
  // padding-bottom: 20px;
}

#sidebar__none {
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: absolute;
  margin: 0 auto;
  display: block;
  height: 100vh;
  z-index: 1;
  border-radius: 3px;
  width: 237px;
  padding-bottom: 140px;
  overflow-y: scroll;
  scrollbar-width: none;
  color: #fff;
  // padding-bottom: 20px;
}
.filter-group::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.filter-group input[type="checkbox"] + label {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // box-shadow: -5px 8px 8px 1px #000000a3;
  background-color: #18cbd5;
  border-radius: 14px;
  display: block;
  color: black;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  border-bottom: 2px solid rgb(0 0 0 / 64%);
}

#sidebar__none input[type="checkbox"] + label {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // box-shadow: -5px 8px 8px 1px #000000a3;
  background-color: #e63946;
  border-radius: 14px;
  display: block;
  color: black;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  border-bottom: 2px solid rgb(0 0 0 / 64%);
}
#sidebar__none::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

// .filter-group input[type="checkbox"] + label {
// background-color: #3386c0;
//   background: aliceblue;
//   text-transform: capitalize;
// }

// .filter-group input[type="checkbox"] + label:hover,
// .filter-group input[type="checkbox"]:checked + label {
//   background-color: #55c6c5;
// }

// .filter-group input[type="checkbox"] + label:hover{
//   background-color: #fcfcfc;
// }

// .filter-group input[type="checkbox"]:checked + label:after {
//   content: "  ✔";
// }

.analysis .labels {
  color: #d3e6ee;
  position: absolute;
  z-index: 100px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.noselect {
  width: max-content;
  height: max-content;
  padding: inherit;
  cursor: pointer;
  border: none;
  // font-family: "Comfortaa", cursive;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 4px;
  box-shadow: inset 0px -2px 5px #8ae3f4, 0px 0px 10px rgba(0, 0, 0, 0.15);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 0) 5%,
    rgba(255, 255, 255, 0.5) 6%,
    rgba(255, 255, 255, 0) 9%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0) 17%,
    rgba(255, 255, 255, 0.5) 19%,
    rgba(255, 255, 255, 0) 21%
  );
  background-size: 150%;
  background-position: right;
  margin: 10px;
  text-align: center;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0, 0.72, 0.25, 1);
}

.noselect:hover {
  background-position: left;
  color: white;
  box-shadow: inset 0px -5px 8px 3px #8ae3f4, 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.noselect:focus {
  outline: none;
}
.home-center {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-button {
  font-weight: 900;
  border: 4px solid #03e9f4;
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  color: #03e9f4;
  margin: 10px;
  background-color: #00050843;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
}
.map-button:hover {
  border: none;
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

// #sidebar-hover-icon {
//   margin: 0;
//   // margin-left: 15px;
//   position: absolute;
//   top: 59%;
//   width: 50px !important;
//   height: 51px !important;
//   font-size: xx-large;
//   color: #09316a;
//   text-shadow: 3px 0px 7px rgba(8, 137, 141, 0.815),
//     -3px 0px 7px rgba(31, 154, 185, 0.76), 0px 4px 7px rgba(16, 160, 179, 0.856);
//   -ms-transform: translateY(-50%);
//   will-change: display;
//   transform: translateY(-50%);
// }
// .right {
//   margin: 0;
//   margin-left: 2px;
//   position: absolute;
//   top: 40%;
//   height: 50px * 2;
//   width: 50px;
//   background: #bed7e2;
//   display: inline-block;
//   will-change: display;
//   border-bottom-right-radius: 45px * 2;
//   border-top-right-radius: 45px * 2;
//   box-shadow: 0 0 12px 5px #1e979d, 0 0 25px #218a8f, 0 0 50px #11b1eb,
//     0 0 200px #30bcf1;
// }

.sidebar-main {
  transition: width 0.5s cubic-bezier(0.49, -0.36, 1, 0.56);
  //  transition: visibility 1s ease;
}

// .sidebar-main:hover {
//   .sidebar-wrapper {
//     width: 280px;
//   }
//   .right {
//     visibility: hidden;
//     opacity: 0;
//     transition: visibility 0.5s, opacity 0.5s linear;
//   }
//   #sidebar-hover-icon {
//     visibility: hidden;
//     opacity: 0;
//     transition: visibility 0.5s, opacity 0.5s linear;
//   }
// }

.container__profile__text {
  display: flex;
  position: fixed;
  max-height: 10%;
  width: 750px;
  margin-bottom: 15px;
  justify-content: space-evenly;

  // .popup__features{
  //   padding: 5%;
  //   // padding-left: 5%;
  //   border-right: 2px solid black;
  //   border-left: 2px solid black;
  // }
  // .popup__features:hover{
  //   border: 2px solid black;
  // }
}

// ul{
//   list-style-type: none;
// }

.popup__features {
  padding: -10px 0;

  a {
    padding: 4px 0;
    font-family: Lato, sans-serif;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;

    &::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      // width: 100%;
      height: 6px;
      background: #000000;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.1s;
    }

    &:hover {
      color: #000505f1;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

.label__icons .label__hover__text {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 3px 3px 12px 2px black;
  /* Position the label__icons text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 115%;
  // left: 50%;
  margin-left: -81px; //Please don't change, or there will be consequences
}

/* Show the label__icons text when you mouse over the label__icons container */
.label__icons:hover .label__hover__text {
  visibility: visible;
  opacity: 1;
}

.label__icons .label__hover__image {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 135%;
  width: 900px;
  height: 200px;
  border-radius: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin-left: -484px; //Please don't change, or there will be consequences
  margin-top: 10px;
  box-shadow: 1px 0px 13px 0px #1582b7;
}

.label__icons .label__hover__image {
  visibility: visible;
}

.label__img__close {
  position: absolute;
  cursor: pointer;
}
.label__image__wrapper {
  i {
    font-size: xx-large;
    margin-left: 396px;
    margin-top: -3px;
    color: #03e9f4;
    z-index: 1;
  }
}

.label__image__wrapper:hover {
  .label__hover__image {
    box-shadow: 1px 1px 1px black, 1px 1px 1px black;
  }
  i {
    text-shadow: 1px 1px 1px black;
  }
}

.label__icons .label__text {
  position: absolute;
  margin-top: 30px;
  margin-left: -26px;
  font-size: x-small;
  font-weight: 600;
  font-style: italic;
}

.container__popup .popup__info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 265px;
  margin-top: -211px;
  padding: 15px;
  line-height: 15px;
  width: 437px;
  font-size: small;
  // height: 400px;
}

.popup__info__distribution {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  div {
    margin-top: -4px;
  }
}

.popup__coordinates {
  position: absolute;
  margin-left: 38px;
  margin-top: 13px;
  font-weight: 900;
  // width: 8px;
}

.popup__info .popup__info_datetime {
  text-align: center;
}

.popup__info_datetime {
  font-weight: bold;
}

.filter-group input[type="checkbox"] {
  display: none;
}
.filter-group input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px "Open Sans", Arial, sans-serif;
  cursor: pointer;
}
.filter-group input[type="checkbox"] + label {
  background-color: aliceblue;
}

.filter-group input[type="checkbox"]:hover + label:hover {
  background-color: #18cbd5;
}
.filter-group input[type="checkbox"]:checked + label {
  background-color: #18cbd5;
}
.filter-group input[type="checkbox"]:checked:hover + label:hover {
  background-color: aliceblue;
}
.filter-group input[type="checkbox"]:hover + label:before {
  border: 1px solid #343a3f;
  box-shadow: 2px 1px 0 #343a3f;
}
.filter-group input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}
.filter-group input[type="checkbox"] + label:before {
  content: "";
  display: block;
  margin-left: 0.2rem;
  margin-top: 0.52rem;
  width: 1.36em;
  height: 1.36em;
  border: 1px solid #343a3f;
  border-radius: 1em;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s, background 0.2s ease-in-out;
  transition: all 0.2s, background 0.2s ease-in-out;
  background: #f3f3f3;
  box-shadow: -2px -1px 0 #343a3f;
}
.filter-group input[type="checkbox"]:checked + label:before {
  border-radius: 1em;
  border: 2px solid #fff;
  margin-top: 0.52rem;
  width: 1.46em;
  height: 1.46em;
  background: #000000;
  box-shadow: 2px 1px 4px 1px #000000;
}

.sidebar__heading{
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
  text-shadow: 1px 1px 1px white;
}

.text{
  .head{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
  }
  .discover{
    font-size: 100px;
    font-family: 'Fjalla One', sans-serif;
  }
  .lower_text{
    font-family: 'Caveat', cursive;
    margin-top: -32px;
    font-size: xxx-large;
  }
}

#sidebar__none input[type="checkbox"] {
  display: none;
}
#sidebar__none input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px "Open Sans", Arial, sans-serif;
  cursor: pointer;
}
#sidebar__none input[type="checkbox"] + label {
  background-color: aliceblue;
}

#sidebar__none input[type="checkbox"]:hover + label:hover {
  background-color: #e63946;
}
#sidebar__none input[type="checkbox"]:checked + label {
  background-color: #e63946;
}
#sidebar__none input[type="checkbox"]:checked:hover + label:hover {
  background-color: aliceblue;
}
#sidebar__none input[type="checkbox"]:hover + label:before {
  border: 1px solid #343a3f;
  box-shadow: 2px 1px 0 #343a3f;
}
#sidebar__none input[type="checkbox"] + label:last-child {
  width: 180px;
  margin-top: 7px;
  margin-bottom: 0;
}
#sidebar__none input[type="checkbox"] + label:before {
  content: "";
  display: block;
  margin-left: 0.2rem;
  margin-top: 0.52rem;
  width: 1.36em;
  height: 1.36em;
  border: 1px solid #343a3f;
  border-radius: 1em;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s, background 0.2s ease-in-out;
  transition: all 0.2s, background 0.2s ease-in-out;
  background: #e63946;
  box-shadow: -2px -1px 0 #343a3f;
}
#sidebar__none input[type="checkbox"]:checked + label:before {
  border-radius: 1em;
  border: 2px solid #fff;
  margin-top: 0.52rem;
  width: 1.46em;
  height: 1.46em;
  background: #000000;
  box-shadow: 2px 1px 4px 1px #000000;
}

.sidebar__top{
  height: max-content;
  hr{
    margin-top: 65px;
    width: 340px;
    margin-left: -32px;
  }
}